{% extends 'customer/header2.html' %}
{% load static %}

{% block title %} home page {% endblock %}

{% block extracss %}
{% endblock %}



{% block pagecontent %}

<center>
    <div class="row container-fluid border">
        <div class="col-md-12 bg-info">
          <h1><b> LOG OUT FROM CAR RENTAL SYSTEM   </b></h1><br>
          <h1><b> CLICK HERE ! </b></h1>
         </div>
        </div>
 
    <br>
    <br>

<div class="container">
    <a class="btn btn-danger btn-block" href= "../login"><h1 ><b> LOG OUT </b></h1></a><br>
  </div>
  <br>

</center>
 
    <center>
    <div class="container">
      <img src="{% static 'images/logout_image.jpg' %}" alt="img 1">
    </div>
      
    </center>



{% endblock %}      















        {% block extrajs %}
       
        {% endblock %}
        
    